<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cibercafe">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CiberCafe">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="CiberCafé"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Autentificacion"
            android:label="Autentificacion"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:label="Iniciar sesion"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Registro"
            android:label="Registro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HacerReserva"
            android:label="Escoge producto"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Horas"
            android:label="Horas disponibles"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConfirmarReserva"
            android:label="Confirmar reserva"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MisReservas"
            android:label="Mis Reservas"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AnularReserva"
            android:label="Anular reserva"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MiPerfil"
            android:label="Mi perfil"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AnadirSaldo"
            android:label="Añadir Saldo"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" />
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
    </application>

</manifest>